megaProject/.env
mega-project-01-main/.eslintrc.cjs
mega-project-01-main/.gitignore
mega-project-01-main/index.html
mega-project-01-main/package-lock.json
mega-project-01-main/package.json
mega-project-01-main/postcss.config.js
mega-project-01-main/README.md
mega-project-01-main/tailwind.config.js
mega-project-01-main/vite.config.js
mega-project-01-main/src/App.jsx
mega-project-01-main/src/index.css
mega-project-01-main/src/main.jsx
mega-project-01-main/src/appwrite/auth_service.js
mega-project-01-main/src/appwrite/bucket_service.js
mega-project-01-main/src/appwrite/database_service.js
mega-project-01-main/src/components/index.js
mega-project-01-main/src/components/Button/Button.jsx
mega-project-01-main/src/components/Container/Container.jsx
mega-project-01-main/src/components/Footer/Footer.jsx
mega-project-01-main/src/components/Header/Header.jsx
mega-project-01-main/src/components/Header/LogoutBtn.jsx
mega-project-01-main/src/components/Inputbox/Inputbox.jsx
mega-project-01-main/src/components/Login/Login.jsx
mega-project-01-main/src/components/Logo/Logo.jsx
mega-project-01-main/src/components/PostForm/PostForm.jsx
mega-project-01-main/src/components/Postcard/Postcard.jsx
mega-project-01-main/src/components/Protectedlayout/Protectedlayout.jsx
mega-project-01-main/src/components/RTE/RTE.jsx
mega-project-01-main/src/components/Select/Select.jsx
mega-project-01-main/src/components/Signup/Signup.jsx
mega-project-01-main/src/config/config.js
mega-project-01-main/src/pages/AddPost.jsx
mega-project-01-main/src/pages/AllPosts.jsx
mega-project-01-main/src/pages/EditPost.jsx
mega-project-01-main/src/pages/Home.jsx
mega-project-01-main/src/pages/Login.jsx
mega-project-01-main/src/pages/Post.jsx
mega-project-01-main/src/pages/Signup.jsx
mega-project-01-main/src/store/authSlice.js
mega-project-01-main/src/store/postSlice.js
mega-project-01-main/src/store/store.js
